
.navbar {
    width: 100%;
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // column-gap: 146px;
    padding: 39px 0;
}
.header__link-1{
    @include center-box;
    column-gap: 40px;


    .header__content-link {
        text-decoration: none;
        color:#282B22;
    }    
}
.hero__contant-phone {
    @include center-box
}

.header__content-iteam {
    @include center-box;
    column-gap: 63px;
    .header_contant-icons {
        display: flex;
        align-items: center;
        column-gap: 15px;
    }
    .hero__contant-phone {
        display: flex;
        align-items: center;
        column-gap: 7px;
        a {
            text-decoration: none;
            color: #3D4A39;
        }
    }
}
.hero__menu,
.hero__menu-1 {
    display: none;
}
@media (max-width: 992px) {
    .hero__menu {
        display: block;
    }
    .header__link-1 {
    flex-direction: column;
    max-width: 50%;
    height: 100vh;
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    background: #fff;
    align-items: start;
    padding-left: 20px;
    position: fixed;
    top: 132px;
    right: 0;
    justify-content: start;
    row-gap: 40px;
    transform: translateX(120%);
    visibility: hidden;
    transition: all 0.5s;
    }
}
.hero__menu-1:checked+ .header__link-1 {
    transform: translateX(0);
    visibility: visible;
    .hero__menu+ .fff {
        display: none;
    }
    .header__link-1 {
        max-width: 285px;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
    }
}
.header__one-box {
    text-align: center;
    margin-top: 131px;
    background-image: url(../imgs/tv-cabinet-modern-living-room-with-armchair-plant-dark-marble-wall-3d-rendering\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 687px;

    &::after {
        content: '';
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.20) -13.19%, rgba(0, 0, 0, 0.85) 94.01%);
        width: 100%;
        height: 687px;
        position: absolute;
        left: 0;
        top: 0;
        pointer-events: none;
    }
    h1 {
        max-width: 446px;
        font-weight: 700;
        font-size: 56px;
        line-height: 67px;
        margin: 0 auto;
        left: 0;
    }
    p {
        max-width: 537px;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        margin: 20px auto;
        margin-bottom: 50px;
        opacity: 80%;
    }
    .hero__content-iteam {
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 685px;
        width: 100%;
        left: 0;
        margin: auto;
        position: absolute;
        z-index: 5;
        .button {
            max-width: 260px;
            width: 100%;
            padding: 22px 56px;
            background-color: #AE7B3C;
            border: none;
            color: #fff;
            border-radius: 2px;
            margin-bottom: 120px;
            transition: all 0.3s;
            &:hover {
                transform: scale(1.1);
            }
            &:active {
                transform: scale(0.9);
            }
        }
        .classs-clas {
            max-width: 1300px;
            width: 100%;
            padding: 0 20px;
        }
        .btnn {
            max-width: 1300px;
            width: 100%;
            height: 1px;
            border: none;
            opacity: 0.4;
            background: #FFF;
            margin-bottom: 41px
        }
        .hero__content-img {
            @include center-box;
            max-width: 1300px;
            width: 100%;
            bottom: 61px;
            left: 200px;
            .hero__content-stril {
                @include center-box;
                column-gap: 25px;
            }
        }
        span {
            position: absolute;
            padding: 7px 11px;
        }
    }
    .hero__content-son {
        display: flex;
        column-gap: 15px;

        .hero__content-yumaloq-1 {
            opacity: 30%;
        }
    }
}
@media (max-width: 992px) {
    .header__one-box {
        max-width: 992px;
        background-image: url(../imgs/tv-cabinet-modern-living-room-with-armchair-plant-dark-marble-wall-3d-rendering\ 1\ \(2\).jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .btnn {
        max-width: 300px;
        width: 100%;
        padding: 0 20px;
    }
    .hero__content-img {
        max-width: 960px;
        width: 100%;
        padding: 0 10px;
    }
}
@media (max-width: 576px) {
    .header__one-box {
        max-width: 576px;
        background-image: url(../imgs/tv-cabinet-modern-living-room-with-armchair-plant-dark-marble-wall-3d-rendering\ 1\ \(1\).jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .hero__content-img {
        max-width: 570px;
        width: 100%;
        padding: 0 10px;
    }
    .header__content-iteam {
        display: flex;
        column-gap: 1px;
    }
}
@media (max-width: 576px) {
    .hero__menu {
        display: block;
    }
    .header__link-1 {
    flex-direction: column;
    max-width: 100%;
    height: 100vh;
    background: #fff;
    padding-left: 20px;
    position: fixed;
    top: 130px;
    right: 0;
    row-gap: 40px;
    transform: translateX(120%);
    visibility: hidden;
    transition: all 0.5s;
    }
}
.hero__menu-1:checked+ .header__link-1 {
    transform: translateX(0);
    visibility: visible;
    .hero__menu+ .fff {
        display: none;
    }
    .header__link-1 {
        max-width: 78px;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
    }
}
@media (max-width: 576px) {
    .header__container {
        max-width: 576px;
        .header_contant-icons {
            transform: translateX(-500%);
            visibility: hidden;
        }
        .hero__contant-phone {
            transform: translateX(-700%);
            visibility: hidden;
        }
    }
}